body {
  margin: 0 auto;
  font-family: san-serif;
  width: 100%;
  font-size: small;
}

.nav-left, li, a{
  display: inline;
  text-decoration: none;
  color: black;
}

.nav-right {
  float: right;
}

#sign-in a{
  background-color: blue;
  border: 10px solid blue;
  color: white;
}

a:hover {
  text-decoration: underline;
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#search {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 450px;
  height: 40px;
  border-radius: 30px;
}

#searchbox {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

button {
  height: 50px;
  width: 150px;
  cursor: pointer;
}

footer {
  width: 100%;
  margin: 0 auto;
  height: 100px;
  background-color: #F2F2F2;
}

.left-foot {
  padding: 0.5em
}

.right-foot {
  float: right;
  padding: 0.5em;
}

