html {
  width: 100%;
  word-spacing: 3px;
  font-size: small;
}

a:hover {
  text-decoration: underline;
}

#nav li {
  display: inline;
}

ul {
  list-style-type: none;
  top: 0px;
}

li a{
  color: black;
  text-decoration: none;
}

.nav-right > li{
  position: relative;
  left: 72%;
  bottom: 1em;
}