html, body {
    height: 100%
    margin: 0 auto;
    font-family: "Roboto", sans-serif;
}

#nav, nav-left, .nav-right {
    display: flex;
    padding-top: .5rem;
    height: auto;
}

li a (
    text-decoration: none;
    color: black;

)
