<<<<<<< HEAD
body {
  margin: 0 auto;
  padding 1em;
  font-family: "Roboto" san-serif;
||||||| merged common ancestors
html {
=======
<<<<<<< HEAD
html body {
=======
html {
>>>>>>> 93a13699749661117957fa6b1a66ea0b5cdbb447
  width: 100%;
  font-size: small;
>>>>>>> 6d783c6caae37dfd159f4ed17a1b8a68bf174e2e
}

.nav-left, li, a{
  display: inline;
  text-decoration: none;
  color: black;
}

.nav-right li{
  position: relative;
  display: inline;
  list-style: none;
  margin-left: 1em;
}

.nav-right {
  float: right;
}

#sign-in {
  background-color: blue;
  border: 10px solid blue;
}

#sign-in a {
  color: white;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  height: 200px;
}

.logo-section {
  height: 250px;
}

#search {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 450px;
  height: 40px;
  border-radius: 30px;
  
}

#searchbox {
  text-align: center;
}

button {
  height: 50px;
  width: 150px;
  cursor: pointer;
}

footer {
  width: 100%;
  height: 100px;
  background-color: silver;
}

.right-foot {
  float: right;
}
